.AddPosts-post{
    margin-top: 20px;
}

.AddPosts {
    margin-bottom: 20px;
}

.AddPosts-name {
    margin-bottom: 20px;
}

.AddPosts-submit {
    margin-bottom: 20px;
}

.ListPosts-all {
    margin-left: 120px;
}